<mat-sidenav-container>
  <mat-sidenav #start>
    <mat-nav-list (click)="start.close()">
      <a mat-list-item routerLink="/courses">
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>

      <a mat-list-item routerLink="/courses-use-entity">
        <mat-icon>library_books</mat-icon>
        <span>Ngrx Entity</span>
      </a>

      <a mat-list-item routerLink="/about">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </a>

      @if (isLoggedOut$ | async) {
        <a mat-list-item routerLink="/login">
          <mat-icon>account_circle</mat-icon>
          <span>Login</span>
        </a>
      }

      @if (isLoggedIn$ | async) {
        <a mat-list-item  (click)="logout()" routerLink="/">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </a>
      }

    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button class="menu-button" (click)="start.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  @if (loading) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  }
  <router-outlet></router-outlet>
</mat-sidenav-container>
